<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/Index.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required:false)
</body>
</html>
